In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(['species'],axis=1),
                                                    df['species'],
                                                    test_size=0.2,
                                                    random_state=101)

print("* Train set:", X_train.shape, y_train.shape, "\n* Test set:",  X_test.shape, y_test.shape)

* Train set: (120, 4) (120,)
* Test set: (30, 4) (30,)

In [5]:
X_train.head()

     sepal_length  sepal_width  petal_length  petal_width
104           6.5          3.0           5.8          2.2
89            5.5          2.5           4.0          1.3
116           6.5          3.0           5.5          1.8
82            5.8          2.7           3.9          1.2
112           6.8          3.0           5.5          2.1

In [6]:
y_train

104     virginica
89     versicolor
116     virginica
82     versicolor
112     virginica
          ...
63     versicolor
70     versicolor
81     versicolor
11         setosa
95     versicolor
Name: species, Length: 120, dtype: object

In [7]:
type(y_train)

pandas.core.series.Series

In [8]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [9]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [10]:
model.predict(X_test)

array(['setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa'],
      dtype=object)

In [11]:
model.predict_proba(X_test)

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [13]:
X_live = pd.DataFrame(data={'sepal_length':6.0,
                            'sepal_width':3.9,
                            'petal_length':2.5,
                            'petal_width':0.9},
                      index=[0] # the DataFrame needs an index (either number or category), we just parsed the number 0
                      )
X_live

   sepal_length  sepal_width  petal_length  petal_width
0           6.0          3.9           2.5          0.9

In [14]:
model.predict(X_live)

array(['versicolor'], dtype=object)

In [15]:
model.predict_proba(X_live)

array([[0., 1., 0.]])

In [16]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [17]:
import joblib
joblib.dump(value=model , filename="my_first_ml_model.pkl")

['my_first_ml_model.pkl']

In [18]:
loaded_model = joblib.load(filename="my_first_ml_model.pkl")
loaded_model

DecisionTreeClassifier()