In [1]:
import numpy as np
import pandas as pd

In [5]:
my_list = [-1,-2,-3]
categories = ['a','b','c']
arr = np.array([100,99,98])
my_dict = {'Item1': 999, 'Item2': 888, 'Item3':777}

In [6]:
pd.Series(data=my_list)

0   -1
1   -2
2   -3
dtype: int64

In [7]:
pd.Series(data=categories)

0    a
1    b
2    c
dtype: object

In [8]:
pd.Series(data=my_list,index=categories)

a   -1
b   -2
c   -3
dtype: int64

In [9]:
pd.Series(index=my_list,data=categories)

-1    a
-2    b
-3    c
dtype: object

In [10]:
pd.Series(data=my_list,index=categories,name="My First Series")

a   -1
b   -2
c   -3
Name: My First Series, dtype: int64

In [11]:
pd.Series(data=arr)

0    100
1     99
2     98
dtype: int64

In [12]:
pd.Series(data=arr)

0    100
1     99
2     98
dtype: int64

In [13]:
pd.Series(data=my_dict)

Item1    999
Item2    888
Item3    777
dtype: int64

In [14]:
ser = pd.Series(data=my_dict)
ser

Item1    999
Item2    888
Item3    777
dtype: int64

In [15]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4),
                  index=['A', 'B', 'C', 'D', 'E'],  
                  columns=['Col1', 'Col2', 'Col3', 'Col4']
                  )
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
dict1 = {'Item1':[9,9,7,1], 'Item2':[8,6,68,8], 'Item3':[1,2,7,8]}

In [18]:
df = pd.DataFrame(data=dict1)
df

   Item1  Item2  Item3
0      9      8      1
1      9      6      2
2      7     68      7
3      1      8      8

In [20]:
df2 = df.copy()
df

   Item1  Item2  Item3
0      9      8      1
1      9      6      2
2      7     68      7
3      1      8      8