In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4),
                  index=['A', 'B', 'C', 'D', 'E'],  
                  columns=['Col1', 'Col2', 'Col3', 'Col4']
                  )
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [3]:
df.loc['A']

Col1    2.706850
Col2    0.628133
Col3    0.907969
Col4    0.503826
Name: A, dtype: float64

In [4]:
type(df.loc['A'])

pandas.core.series.Series

In [5]:
df.loc['E']

Col1    0.190794
Col2    1.978757
Col3    2.605967
Col4    0.683509
Name: E, dtype: float64

In [6]:
df.loc[['A','D']]

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
D  0.188695 -0.758872 -0.933237  0.955057

In [8]:
  df.loc['A','Col1']

2.706849839399938

In [9]:
  df.loc['D','Col3']

-0.9332372163009188

In [10]:
df.loc[['A'],['Col2','Col4']]

       Col2      Col4
A  0.628133  0.503826

In [11]:
df.iloc[0]

Col1    2.706850
Col2    0.628133
Col3    0.907969
Col4    0.503826
Name: A, dtype: float64

In [12]:
df.iloc[:3,:4]

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [13]:
df.iloc[2:5,3]

C   -0.589001
D    0.955057
E    0.683509
Name: Col4, dtype: float64

In [14]:
df[df['Col4']>0]

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df.query("Col4 > 0")

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
df.query("Col4 > 0 and Col1 > 0.5 ")

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [17]:
df.query('(Col3 > 0.4 or Col4 >0.7 ) and Col1 < 0.2')

       Col1      Col2      Col3      Col4
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509